*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

header {
  background: #DAA520;
  color: #eaeaea;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
}

.logo {
  margin-right: auto;
  margin-left: 10px;
  cursor: pointer;
  transition: all .5s ease 0s;
}

.logo img {
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logo:hover {
  color: #FFD700;
  transform: rotate(0deg);
}

.btn-cta {
  margin-right: 10px;
  border: none;
  font-size: 20px;
  padding: 6px 12px;
  background: #ff0000;
  color: #eaeaea;
  border-radius: 8px;
  cursor: pointer;
}

.btn-ctb {
  margin-right: 10px;
  border: none;
  font-size: 20px;
  padding: 6px 12px;
  background: #DAA520;
  color: #eaeaea;
  border-radius: 8px;
  cursor: pointer;
}

nav ul{
  display: flex;
  padding: 20px;
}

li {
  list-style-type: none;
  padding: 10px;
}

li a {
  transition: all .5s ease 0s;
  display: inline-block;
}

li a:hover {
  color:	#ff6a3d;
  transform: rotate(0deg);
}

a {
  color: #eaeaea;
  text-decoration: none;
}

footer{
  padding: 0px;
  text-align: center;
  background: #CFB53B;
  color: #eaeaea;
  width: 100%;
}

.gambargerak {
  margin: 100px;
}
@keyframes puterin {
  100% {
    transform: rotate(0deg);
  }
}

body {margin:0; font-family: sans-serif;}

.gambar {width: 95%; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;}

.gambar .foto img{width: 100%; height: 100%;}

.foto {border:1px black; margin:2px; text-align: center;}

.foto {border: 1px solid #00C1B3; margin:2px;}

.foto p {
  color:#FF7476;
}

.foto h4 {
  color: #ffff00 ;
}

.wrapper {
  width: auto;
  margin: 0 auto;
}

.zoom-effect {  
  position: relative;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;  
}

.kotak {
  position: absolute;
  top: 0;
  left: 0;

}

.kotak img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: auto;
}

.zoom-effect:hover .kotak img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background: darkorange;
  color: white;
  border-radius: 5px;
}

select {
  margin: auto;
  width: auto;
  background: #ff0;
  color: #000;
}

option:not(:checked) {
  background-color: #fff;
}

.bottom-right {
  position: absolute;
  top: 8px;
  right: 16px;
  background: red;
  color: white;
  border-radius: 8px;
}

.container {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.sidebar {
    width: 40%;
    border: 1px solid #eee;
    border-radius: 1px;
    padding: 10px;
    height: 300px;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.fa-circle {
    color: orangered;
}
.searchBar {
    width: 100%;
    background-color: #eee;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input {
    border: none;
    outline: none;
    background: none;
}
.glass:hover {
    color: orangered;
    cursor: pointer;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-brands {
    font-size: 25px;
    margin: 0 10px;
    color: #333;
    cursor: pointer;
}
.fa-brands:hover {
    color: orangered;
}
.data {
    width: 60%;
    border-radius: 1px;
    height: 210px;
    overflow-y: auto;
}
#root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}



button:hover {
    background-color: orangered;
}
::-webkit-scrollbar {
    display: none;
}
