*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

header {
  background: #DAA520;
  color: #eaeaea;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
}

.logo {
  margin-right: auto;
  margin-left: 10px;
  cursor: pointer;
  transition: all .5s ease 0s;
}

.logo img {
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logo:hover {
  color: #FFD700;
  transform: rotate(0deg);
}

.btn-cta {
  margin-right: 10px;
  border: none;
  font-size: 20px;
  padding: 6px 12px;
  background: #ff0000;
  color: #eaeaea;
  border-radius: 8px;
  cursor: pointer;
}

.btn-ctb {
  margin-right: 10px;
  border: none;
  font-size: 20px;
  padding: 6px 12px;
  background: #DAA520;
  color: #eaeaea;
  border-radius: 8px;
  cursor: pointer;
}

nav ul{
  display: flex;
  padding: 20px;
}

li {
  list-style-type: none;
  padding: 10px;
}

li a {
  transition: all .5s ease 0s;
  display: inline-block;
}

li a:hover {
  color:	#ff6a3d;
  transform: rotate(0deg);
}

a {
  color: #eaeaea;
  text-decoration: none;
}

footer{
  padding: 0px;
  text-align: center;
  background: #CFB53B;
  color: #eaeaea;
  width: 100%;
}

.container { 
    align-items: center;
    margin: 5px;
}
 
#searchbar {
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    width: 50%;
    box-sizing: border-box;
}
 
#list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 
.donghua {
    font-size: 1em;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    animation: fadeIn 0.5s ease-in-out;
}
 
.donghua:last-child {
    border-bottom: none;
}
 
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.gambargerak {
  margin: 100px;
}
@keyframes puterin {
  100% {
    transform: rotate(0deg);
  }
}

body {margin:0; font-family: sans-serif;}

.gambar {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;}

.gambar .foto img{width: 100%; height: 100%;}

.gamba {display: grid; grid-template-columns: 1fr 1fr 1fr;}

.foto {border:1px black; margin:2px; text-align: center;}

.foto {border: 1px solid #00C1B3; margin:2px;}

.foto h4 {
  color: #ffff00 ;
}

.wrapper {
  width: auto;
  margin: 0 auto;
}

.zoom-effect {  
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;  
}

.kotak {
  position: absolute;
  top: 0;
  left: 0;

}

.kotak img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: auto;
}

.zoom-effect:hover .kotak img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background: darkorange;
  color: white;
  border-radius: 5px;
}


button:hover {
    background-color: orangered;
}
::-webkit-scrollbar {
    display: none;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}
